  <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                    <div class="col-lg-12">
                    

                <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h4>List of all the Crops</h4>
                        <div class="ibox-tools">
                        <button type="button" class="btn btn-primary btn-circle" data-toggle="modal" data-target="#myModal2">
                              <i class="fa fa-plus"></i>  
                            </button>
                            <div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content animated flipInY">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title">Add Data</h4>
                                            <small class="font-bold">Add data here this data will go directly in to the database</small>
                                        </div>
                                        <div class="modal-body">
                                         <div class="row">
                                                <div class="col-sm-6 b-r"><h3 class="m-t-none m-b">Bridge</h3>

                                                    <p>Bridge directly to Database.</p>

                                                    <form role="form" #dataForm = "ngForm" (ngSubmit) = "add(dataForm.value)">
                                                        <div class="form-group"><label>Name</label> <input type="text" placeholder="Name" class="form-control" name="name" ngModel></div>
                                                        
                                                        <div class="form-group"><label>Category</label> <input type="text" placeholder="Category" class="form-control" name="category" ngModel></div>
                                                        
                                                      
                                                        <div class="form-group"><label>Ph</label> 
	                                                        <input type="number" placeholder="Min" min="0" max="14" class="form-control" name="phmin" ngModel>
	                                                        
	                                                        <input type="number" placeholder="Max" min="0" max="14" class="form-control" name="phmax" ngModel> 
                                                        </div>
                                                        
                                                        <div class="form-group"><label>Temperature</label> 
	                                                        <input type="number" placeholder="Min" min="0" max="50" class="form-control" name="tempmin" ngModel>
	                                                        
	                                                        <input type="number" placeholder="Max" min="0" max="50" class="form-control" name="tempmax" ngModel> 
                                                        </div>

                                                        <div class="form-group">
                                                          <label>Sunlight</label>   
                                                             <select class="select2_demo_1 form-control" name="sunlight" ngModel>
						                                        <option value="low">Low</option>
						                                        <option value="normal">Normal</option>
						                                        <option value="high">high</option>
						                                     </select>
									                       </div>

									                       <div class="form-group">
                                                          <label>Moisture</label>   

                                                            <select class="select2_demo_1 form-control" name="moisture" ngModel>
						                                        <option value="wet+">wet+</option>
						                                        <option value="wet-">wet-</option>
						                                        <option value="dry+">dry+</option>
						                                        <option value="dry-">dry-</option>
						                                    </select>
									                       </div>

                                                        
                                                        <div>
                                                       
                                                        <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>submit</strong></button>
                                                           
                                                        </div>
                                                    </form>


                                                </div>
                                                <div class="col-sm-6"><h4>Don't know what this is?</h4>
                                                    <p>Better logout then</p>
                                                    <p class="text-center">
                                                        <a href=""><i class="fa fa-leaf big-icon"></i></a>
                                                    </p>
                                                 </div>
                                        </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">

                        <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Moisture</th>
                        <th>Ph</th>
                        <th>Sunlight</th>
                        <th>Temperature</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="gradeX" *ngFor="let fruit of fruits">
                        <td>{{fruit.$key}}</td>
                        <td>{{fruit.category}}</td>
                        <td class="center">{{fruit.moisture}}</td>
                        <td class="center">{{fruit.ph.min}} - {{fruit.ph.max}}</td>
                        <td class="center">{{fruit.sunlight}}</td>
                        <td class="center">{{fruit.temp.min}} - {{fruit.temp.max}}</td>
                        <td class="center"> <button class="btn btn-danger btn-circle" type="button" (click)= "delete(fruit.$key)"><i class="fa fa-times"></i></button></td>
                    </tr>
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>#</th>
                        <th>Category</th>
                        <th>Moisture</th>
                        <th>Ph</th>
                        <th>Sunlight</th>
                        <th>Temperature</th>
                        <th>Delete</th>
                    </tr>
                    </tfoot>
                    </table>
                        </div>

                    </div>
                </div>
            </div>
            </div>
        </div>



